div#colors div{
  width: 100px;
  height: 200px;
  display: inline-block;
}

#red{
  background-color: rgb(155, 17, 17);
}

#green{
  background-color: rgb(12, 83, 12);
}

#yellow{
  background-color:rgb(114, 114, 5);
}

#blue{
  background-color:rgb(8, 8, 92);
}

body {
  width: 33%;
  margin: auto;
  margin-top: 50px;
  background-color: bisque;
}

button{
  display: block;
}

#gameover{
  display: none;
}